@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .opacity-background{
        background: linear-gradient(180deg,rgba(4,21,45,0) 0%,#04152d 79.17%);
    }
    .icons-shadow{
        box-shadow: 0 0 6px 3px #da2f68;
    }
}

body{
    background-color: #04152d;
}


